In [6]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import dtale 
import sweetviz as sv
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/Users/emtnan/Library/Python/3.9/lib/python/site-packages/tqdm/auto.py:21: TqdmWarning:

IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [7]:
#Read in the csv file and convert to a Pandas dataframe

In [8]:
Jadarat = pd.read_csv("Data/Jadarat_data.csv")

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [10]:
dtale_app = dtale.show(Jadarat)
print("Dtale is running. Open the following link to explore your dataset:")
print(dtale_app.main_url)

Dtale is running. Open the following link to explore your dataset:

<bound method DtaleData.main_url of >

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

/Users/emtnan/Library/Python/3.9/lib/python/site-packages/dtale/column_analysis.py:511: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

In [29]:
Jadarat.head()

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,"['Language data', 'اللغة الانجليزية', 'محترف']",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both
1,بائع,27/05/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركة عالم الكهرباء للمقاولات,4-1324428,خاص,متوسطة فئة ب,تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...,NaN,المنطقة الشرقية,AD DAMMAM...,"['Salary', '5000.0']",دوام كامل,0 / 3,20202026350389,0 Years,both
2,أخصائي عمليات موارد بشرية,27/05/1444,['تنفيذ الإجراءات والأنظمة والنماذج الخاصة بمر...,[' تنفيذ الإجراءات والأنظمة والنماذج الخاصة ...,شركه دار السلام,1-155294,خاص,متوسطة فئة أ,ترميمات المباني السكنية والغير سكنية,"['Language data', 'الانجليزيه', 'محترف']",الرياض,ATH THUMA...,"['Salary', '4000.0']",دوام كامل,0 / 2,20202026350347,2 Years,both
3,ميكانيكي سيارات,27/05/1444,['تشخيص أعطال السيارات وإصلاحها وتنفيذ برامج ا...,[' فحص أداء المعدّات الكهربائية والميكانيكية...,مؤسسة لمكو لغيار الزيوت,8-1925495,خاص,صغيرة فئة ب,NaN,"['Skill data', 'صيانة السيارات وتقييم الاعطال'...",المنطقة الشرقية,AL HUFUF...,"['Salary', '5000.0']",دوام كامل,0 / 10,20202026350219,0 Years,M
4,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,مؤسسة فكرة اليمامة للمقاولات,1-2356639,خاص,كبيرة,الإنشاءات العامة للمباني السكنية,"['Skill data', 'تحمل ضغط العمل', 'محترف', 'Lan...",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350043,0 Years,both

In [30]:
Jadarat.tail()

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
1465,مهندس تقنية معلومات,19/06/1444,['دراسة احتياجات العميل من الأجهزة الحاسوبية و...,[' متابعة وتقييم عملية جمع وتحليل المعطيات و...,مطعم الاوراق الخضر لتقديم الوجبات,15-1698448,خاص,صغيرة فئة ب,المطاعم مع الخدمة,NaN,الرياض,AR RIYADH...,"['Salary', '5500.0']",دوام كامل,0 / 1,20202026400353,0 Years,both
1466,سكرتير,19/06/1444,['دعم المدير أو الإدارة من خلال كتابة الوثائق ...,[' تدوين الملاحظات، التي يتم إملاؤها، بطريقة...,شركة ملتقى التجار لحاضنات و مسرعات الأعمال,9-2013930,خاص,صغيرة فئة ب,أنشطة حاضنات ومسرعات الأعمال,"['Skill data', 'فن التواصل', 'محترف', 'Languag...",مكة المكرمة,JEDDAH...,"['Salary', '4000.0']",دوام كامل,0 / 1,20202026399849,2 Years,both
1467,صيدلي,18/06/1444,['دراسة التركيبات الدوائية للعقاقير والعلاجات ...,[' دراسة مواصفات وتركيبات الادوية والعقاقير ...,شركة تقنية الدواجن والألبان للتجارة,1-2415250,خاص,صغيرة فئة ب,NaN,"['Professional certificate \\ License data', '...",الرياض,AR RIYADH...,"['Salary', '7000.0']",دوام كامل,0 / 1,20202026399061,0 Years,both
1468,مشغل آلة تشطيب رخام,18/06/1444,['تشغيل آلة تشطيب الرخام وابعادء الأجزاء المتف...,[' تسوية الرخام بواسطة أقراص الألماس الحديدي...,مصنع عبدالرحمن بن محمد بن عبدالعزيز العبدالقاد...,15-1971895,خاص,صغيرة فئة أ,NaN,"['Skill data', 'متقن للعمل وشغوف ويرغب بالتطور...",المنطقة الشرقية,AL KHUBAR...,"['Salary', '4000.0', 'Benefits', 'اجازة سنوية ...",دوام كامل,0 / 3,20202026398972,0 Years,M
1469,صيدلي,18/06/1444,['دراسة التركيبات الدوائية للعقاقير والعلاجات ...,[' دراسة مواصفات وتركيبات الادوية والعقاقير ...,شركة تقنية الدواجن والألبان للتجارة,1-2415250,خاص,صغيرة فئة ب,NaN,"['Professional certificate \\ License data', '...",الرياض,AR RIYADH...,"['Salary', '7000.0']",دوام كامل,0 / 1,20202026399061,0 Years,both

In [19]:
print("The size of dataset Jadarat is \n" , Jadarat.shape)

The size of dataset Jadarat is
 (1470, 18)

In [20]:
Jadarat.describe(include='object')

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,exper,gender
count,1470,1470,1470,1470,1470,1470,1470,1456,1380,780,1470,1470,1470,1470,1470,1470,1470
unique,324,92,438,444,886,894,2,7,361,615,14,114,393,2,25,6,3
top,بائع,09/06/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركه العرض المتقن للخدمات التجارية شركة مساهمة...,1-169123,خاص,صغيرة فئة ب,المطاعم مع الخدمة,"['Language data', 'الانجليزية', 'متوسط']",الرياض,AR RIYADH...,"['Salary', '4000.0']",دوام كامل,0 / 1,0 Years,both
freq,98,47,93,90,16,16,1465,635,65,28,622,523,449,1448,853,833,587

In [57]:
Jadarat.describe(include='integer')

        job_post_id
count  1.470000e+03
mean   2.020203e+13
std    5.863941e+04
min    2.020203e+13
25%    2.020203e+13
50%    2.020203e+13
75%    2.020203e+13
max    2.020203e+13

In [25]:
Jadarat.dtypes

job_title       object
job_date        object
job_desc        object
job_tasks       object
comp_name       object
comp_no         object
comp_type       object
comp_size       object
eco_activity    object
qualif          object
region          object
city            object
benefits        object
contract        object
positions       object
job_post_id      int64
exper           object
gender          object
dtype: object

In [24]:
Jadarat.columns

Index(['job_title', 'job_date', 'job_desc', 'job_tasks', 'comp_name',
       'comp_no', 'comp_type', 'comp_size', 'eco_activity', 'qualif', 'region',
       'city', 'benefits', 'contract', 'positions', 'job_post_id', 'exper',
       'gender'],
      dtype='object')

In [15]:
Jadarat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1470 non-null   object
 1   job_date      1470 non-null   object
 2   job_desc      1470 non-null   object
 3   job_tasks     1470 non-null   object
 4   comp_name     1470 non-null   object
 5   comp_no       1470 non-null   object
 6   comp_type     1470 non-null   object
 7   comp_size     1456 non-null   object
 8   eco_activity  1380 non-null   object
 9   qualif        780 non-null    object
 10  region        1470 non-null   object
 11  city          1470 non-null   object
 12  benefits      1470 non-null   object
 13  contract      1470 non-null   object
 14  positions     1470 non-null   object
 15  job_post_id   1470 non-null   int64
 16  exper         1470 non-null   object
 17  gender        1470 non-null   object
dtypes: int64(1), object(17)
memory usage: 206.8+ KB

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [ ]:
Jadarat['comp_type'].isnull().sum()

np.int64(0)

In [ ]:
Jadarat["eco_activity"].isnull().sum()

np.int64(90)

In [ ]:
Jadarat["eco_activity"].unique

<bound method Series.unique of 0                             أنشطة وكالات السياحة والسفر
1       تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...
2                    ترميمات المباني السكنية والغير سكنية
3                                                     NaN
4                        الإنشاءات العامة للمباني السكنية
                              ...
1465                                    المطاعم مع الخدمة
1466                         أنشطة حاضنات ومسرعات الأعمال
1467                                                  NaN
1468                                                  NaN
1469                                                  NaN
Name: eco_activity, Length: 1470, dtype: object>

In [54]:
Jadarat["eco_activity"].value_counts()

eco_activity
المطاعم مع الخدمة                                                        65
الخدمات الطبية بالمصحات المتخصصة ومراكز إعادة التأهيل والصحة الوقائية    46
أنشطة خدمات صيانة المباني                                                44
أنشطة الاستشارات الهندسية والمعمارية                                     27
ترميمات المباني السكنية والغير سكنية                                     24
                                                                         ..
صناعة حديد الزهر ما في ذلك مسبوكات حديد الصلب والزهر                      1
تركيب وتمديد انابيب تكييف الهواء وصيانتها واصلاحها                        1
رعاية وصيانة منتزهات الطرق السريعة                                        1
نقل السوائل او الغازات السائلة                                            1
البيع بالتجزئة للادوات الكهربائية وتمديداتها                              1
Name: count, Length: 361, dtype: int64

In [55]:
Jadarat['job_desc'].value_counts()

job_desc
['بيع مجموعة من السلع والخدمات للعملاء، وتوفير المعلومات المتعلقة بالمنتجات واستخداماتها وأسعارها، وتولي أمور الدفع وتلقي المدفوعات من العملاء.']                                                                                                93
['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإيرادات وتوثيقها وتحليلها، وإعداد القيود المحاسبية وتسجيل العمليات المالية بالسجلات وتدقيق حسابات البنوك وإعداد التسويات اللازمة وإعداد التقارير والوثائق المتعلقة بالنفقات والإيرادات وحفظها.']    82
['تحديد الأهداف وتطوير السياسات التسويقية للسلع والخدمات، والإشراف على تنفيذها وتقييمها، وإجراء اختبارات السوق وإعداد الوثائق والتقارير المتخصصة والمتعلقة في مجال التسويق وعرضها وحفظها.']                                                      45
['متابعة تنفيذ القرارات الادارية الصادرة عن الرئيس المباشر وتنظيم أعمال البريد والمواعيد اليومية، وإنجاز الأعمال الادارية المتعلقة بسير العمل وتنسيق وتنظيم اجتماعات الرئيس المباشر']                                                            43
['استقبال الزوار والعملاء وتحديد مطالبهم وتوجيههم إلى المرجع المختص واستقبال المكالمات الهاتفية والرد على الاستفسارات او التحويل إلى المرجع المختص وحفظ السجلات الخاصة بالزوار']                                                                 42
                                                                                                                                                                                                                                                 ..
['أداء الواجبات الفنية المتعلقة بإنشاء الطرق،وجمع العينات من تربة المسار والمواد الإنشائية وإرسالها للمختبر، ومطابقة المواصفات، وتقدير كميات المواد والعمالة اللازمة .']                                                                          1
['تدريس طلاب مرحلة التعليم الابتدائي عدة موضوعات، بما في ذلك القراءة والكتابة والرياضيات، ووضع خطط الدروس، وإعطاء التعليمات الفردية والجماعية.']                                                                                                  1
['مساعدة الأطباء والممرضين في رعاية المرضى في المستشفيات وتطبيق إجراءات وتعليمات السلامة والصحة المهنيةوالعامة']                                                                                                                                  1
['فحص واختبار سلوك المواد تحت ظروف مختلفة، وتقديم التوصيات حول الاستخدامات العملية للمواد والبحث عن البدائل']                                                                                                                                     1
['تشغيل آلة تشطيب الرخام وابعادء الأجزاء المتفتفة وصقل وتنعيم  وجلي الرخام وتطبيق أسس وتعليمات السلامة والصحة المهنية']                                                                                                                           1
Name: count, Length: 438, dtype: int64

In [56]:
Jadarat['job_tasks'].value_counts()

job_tasks
['   بيع مجموعة من السلع والخدمات للعملاء.', '  توفير المعلومات المتعلقة بالمنتجات، والاستخدامات، والأسعار.', '  مراقبة مستويات المخزون والحفاظ على ترتيب المتجر، وإصدار طلبات لشراء المنتجات، والتعامل مع المنتجات الواردة.', '  تولي أمور الدفع وتلقي المدفوعات من العملاء، ومعالجة طلبات استبدال المنتجات، والمرتجعات وفقاً للسياسة المتبعة.', '  ', '  ']                                                                                                                                                                                                                                                                                                                                                                                   90
['   تدقيق المطالبات المالية والتأكد من اكتمال شروطها القانونية والمالية، وإعداد وتنظيم وتوثيق مستندات الصرف ومتابعة تدقيقها وإجازتها للصرف من الجهات الرقابية المعتمدة.', '  مراقبة النفقات الجارية والرأسمالية بحسب الموقف المالي الشهري لبنود الموازنة، وإعداد الموقف المالي والخلاصات الشهرية وإعداد وتنظيم الحسابات الختامية السنوية.', '  إعداد القيود المحاسبية وتسجيل العمليات المالية بالسجلات وتدقيق حسابات البنوك وإعداد التسويات اللازمة مع كشوف المطابقة الشهرية.', '  تطوير أساليب وإجراءات المحاسبة ومواكبة التطور العلمي والتقني في مجال المحاسبة.', '  إعداد الوثائق والتقارير المتخصصة في مجال محاسبة النفقات والإيرادات وحفظها في قاعدة البيانات الخاصة بذلك.', '  ']                                                        81
['   تحديد الأهداف العامة والفرعية للتسويق وتطوير السياسات والخطط والبرامج والتسهيلات التسويقية، وتحليل دورة حياة المنتج وتحديد أسباب نجاح أو فشل تسويق المنتجات، وتحليل أسعار المنافسين، وتطوير سياسات الأسعار.', '  تحديد برامج الترويج، واختيار قنوات التوزيع وتقييم فاعلية الدعاية والإعلان.', '  وضع برنامج زمني لتنفيذ السياسات التسويقية، ومتابعة إجراءات تنفيذها وتقييم النتائج.', '  إجراء اختبارات للمنتجات الجديدة قبل طرحها في الأسواق بشكلها النهائي واستخدام برامج حاسوبية خاصة في مجال اختبارات السوق وبحسب متطلبات العمل.', '  إعداد الوثائق والتقارير المتخصصة والمتعلقة بالتسويق وتقديم التوصيات المناسبة والحلول الملائمة وعرضها وتوضيحها وحفظها في قاعدة البيانات الخاصة بها وفقاً للسياسات والإجراءات المعتمدة.', '  ']    44
['   استقبال الزوار والعملاء والترحيب بهم وتحديد مطالبهم وتزويدهم بالمعلومات المطلوبة، وإعلام المرجع المعني عن المراجعين والعملاء وارشادهم اليه', '  استقبال المكالمات الهاتفية والرد على الاستفسارات او التحويل إلى المرجع المختص', '  إجراء الاتصالات الداخلية للحصول على المعلومات', '  ترتيب مواعيد المقابلات ,تسجيل اسماء المراجعين والعملاء في السجلات الخاصة بذلك', '  الالتزام التام بالأدلة الإجرائية وبالسياسات والإجراءات المنظمة والتقيد بها.', '  ']                                                                                                                                                                                                                                                                               44
['   تنفيذ التعليمات الادارية الصادرة عن الرئيس المباشر ومتابعة تنفيذ القرارات الادارية الصادرة عنه', '  فتح وفرز البريد الورقي وتوزيعه على المعنيين وفتح البريد الالكتروني والرد عليه بحسب توجيهات الرئيس المباشر', '  انجاز أعمال الطباعة والرد على الاستفسارات والمكالمات الهاتفية وتنظيم الملفات الخاصة', '  حفظ المعاملات والعناية بالملفات بأسلوب سلس يسهل عملية الرجوع إليها', '  تنسيق وتنظيم اجتماعات الرئيس المباشر واجتماعات موظفي الوحدة التنظيمية والمشاركة في هذه الاجتماعات و تدوين وتوثيق محاضرها، وطباعة وتوزيع محاضر الاجتماعات الخاصة بالرئيس المباشر للأطراف الأخرى المشاركة في الاجتماع.', '  ']                                                                                                                           42
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
['   1-تصميم محتوى وادارة السوشيال ميديا', '2-عمل حملات اعلانية', '3-التصوير بطرق احترافية', '4-الابتكار والتطوير في وسائل التسويق']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
['كتابه الخطابات', 'تنسيق المواعيد', 'التواصل بين الادارات', 'متابعه المهام ومدى انجازها', 'جمع المعلومات وتحليلها', 'ترتيب وارشفه المراسلات ', 'ومايسند اليها من اعمال اخرى']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
['   جمع المراسلات والوثائق الخاصة بملف القضايا، وأرشفتها، وحفظ الأرشيف حسب سياسات الاستبقاء، وتنظيم المكتبات القانونية والحفاظ عليها.', '  مساعدة المحامين والمهنيين القانونيين، والبحث في المعلومات، مثل المنشورات القانونية، والأنظمة وقرارات المحكمة المتعلقة بالقضايا المعلقة.', '  إدارة مراسلات الإجراءات القانونية والتعاقد والنزاعات القانونية بما يتوافق مع السياسات والإجراءات المنظمة.', '  تنظيف المعدات وأداء الصيانة الأساسية، والإبلاغ عن الأعطال لفنيي الصيانة أو الميكانيكيين، والاحتفاظ بسجل للأعمال المنجزة.', '  إعداد وتقديم تقارير العمل وتوثيقها وحفظها.', '  ']                                                                                                                                                         1
['يوقم بجميع مهام  الوظيفية بإستخدام برنامج حسابي خاص بالمؤسسة  وإدارة جميع المنظومات بالبرنامج المحاسبة']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
['   تسوية الرخام بواسطة أقراص الألماس الحديدية', '  إزالة الخدوش و إضفاء اللمعة الطبيعية للرخــام', '  إجراء الترميمات اللازمة للأجزاء المتفتتة، و تلميع الرخام من خلال فراشة تلميع إما يدوية أو آلية', '', '  تنظيف المعدات وأداء الصيانة الأساسية، والإبلاغ عن الأعطال لفنيي الصيانة أو الميكانيكيين، والاحتفاظ بسجل للأعمال المنجزة.', '  مراقبة تشغيل الآلات للكشف عن العيوب في أجزائها أو أعطال فيها، وضبط المعدات عند الضرورة', '  ']                                                                                                                                                                                                                                                                                                     1
Name: count, Length: 444, dtype: int64

In [13]:
Jadarat["region"].value_counts()

region
الرياض             622
مكة المكرمة        369
المنطقة الشرقية    219
المدينة المنورة     86
الباحة              46
عسير                42
القصيم              32
حائل                18
تبوك                11
نجران                8
جازان                7
الجوف                5
الحدود الشمالية      4
اخرى                 1
Name: count, dtype: int64

In [49]:
Jadarat[Jadarat["region"]=="اخرى"]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
499,محاسب,28/03/1444,['محاسب عام'],['يوقم بجميع مهام الوظيفية بإستخدام برنامج حس...,مؤسسة سلاسل بابل للمقاولات,13-97350,خاص,صغيرة فئة ب,ترميمات المباني السكنية والغير سكنية,"['Skill data', 'إجادة استخدام الحاسب', 'محترف'...",اخرى,ABU TARFA...,"['Salary', '4000.0']",دوام كامل,0 / 3,20202026208133,0 Years,F

In [51]:
Jadarat[Jadarat["city"]=="ABU TARFA..."]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
499,محاسب,28/03/1444,['محاسب عام'],['يوقم بجميع مهام الوظيفية بإستخدام برنامج حس...,مؤسسة سلاسل بابل للمقاولات,13-97350,خاص,صغيرة فئة ب,ترميمات المباني السكنية والغير سكنية,"['Skill data', 'إجادة استخدام الحاسب', 'محترف'...",اخرى,ABU TARFA...,"['Salary', '4000.0']",دوام كامل,0 / 3,20202026208133,0 Years,F

In [14]:
Jadarat["job_date"].value_counts()

job_date
09/06/1444      47
Publish date    47
22/04/1444      43
25/05/1444      39
20/04/1444      39
                ..
16/03/1444       1
12/03/1444       1
07/03/1444       1
05/03/1444       1
27/06/1444       1
Name: count, Length: 92, dtype: int64

In [47]:
Jadarat['qualif'].value_counts()

qualif
['Language data', 'الانجليزية', 'متوسط']                                                                                                                                                                                                                                      28
['Language data', 'الانجليزية', 'محترف']                                                                                                                                                                                                                                      11
['Language data', 'اللغة الانجليزية', 'محترف']                                                                                                                                                                                                                                10
['Language data', 'العربية', 'محترف', 'الانجليزية', 'متوسط']                                                                                                                                                                                                                  10
['Language data', 'اللغة الانجليزية', 'متوسط']                                                                                                                                                                                                                                 7
                                                                                                                                                                                                                                                                              ..
['Skill data', 'المعرفة التامة بنظام العمل ولوائحه ', 'محترف', 'Language data', 'الإنجليزية', 'متوسط']                                                                                                                                                                         1
['Skill data', 'تعبئة', 'محترف', 'Language data', 'العربية', 'محترف']                                                                                                                                                                                                          1
['Skill data', 'فهم كامل في السلامة والصحة المهنية والبيئية ', 'محترف', 'خبره في مجال المصانع الغذائية FMCG', 'متوسط', 'Language data', 'الانجليزية ', 'محترف', 'Professional certificate \\ License data', 'NEBOSH ', 'مفيد', 'OHSAS', 'ضروري', 'ISO 14001/2004', 'مفيد']     1
['Skill data', 'اللباقة ', 'محترف', 'التواصل ', 'محترف', 'التعامل مع شكاوى المرضى ', 'محترف', 'Language data', 'انكليزي ', 'متوسط']                                                                                                                                            1
['Skill data', 'متقن للعمل وشغوف ويرغب بالتطور', 'متوسط']                                                                                                                                                                                                                      1
Name: count, Length: 615, dtype: int64

In [52]:
Jadarat['exper'].value_counts()

exper
0 Years     833
2 Years     436
4 Years     153
7 Years      30
10 Years     15
12 Years      3
Name: count, dtype: int64

In [53]:
Jadarat['positions'].value_counts()

positions
0 / 1     853
0 / 2     258
0 / 3     107
0 / 4      62
0 / 5      57
0 / 10     29
0 / 6      24
0 / 50     20
0 / 20     10
1 / 2      10
0 / 30      6
1 / 1       6
0 / 7       5
0 / 9       4
0 / 15      3
1 / 5       3
0 / 8       3
2 / 2       2
1 / 3       2
0 / 25      1
0 / 46      1
1 / 4       1
2 / 4       1
5 / 4       1
3 / 9       1
Name: count, dtype: int64

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [27]:
# The dataset was sourced from Kaggle Job Postings in Saudi Arabia Dataset (https://www.kaggle.com/datasets/moayadalkhozayem/job-postings-in-saudi-arabia)and primarily collected from Jadarat

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [26]:
# The data was published in 2023, but it's best to use what the business provided since the timeframe isn't considered.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [ ]:
# The use of a single dataset guarantees consistency from the outset

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [ ]:
# 1. Sample Appropriateness: "Based on the data characteristics, the sample is appropriate for this analysis."
# 2. Variable Selection: "The needed variables are relevant to the analysis, and irrelevant ones should be removed such as job_post_id , comp_no .

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [66]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [1]:
#Display number missing values per column

In [68]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [2]:
# check columns types

In [33]:
# go to clean them

In [3]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [23]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [24]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [25]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [80]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.